body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f9f4;
}
/* toon warna */
:root {
  --bg-color: #2e8b57;
  --hover-color: #269c65;
  --font-hover-color: #000;
}

/* navbar */
.header {
  background-color: var(--bg-color);
  color: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.nav .logo {
  display: flex;
}

.nav .logo img {
  width: 50px;
}

.nav .logo h1 {
  font-size: 19px;
}

.nav .nav-links {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav .nav-links li {
  margin-left: 20px;
  position: relative;
}

.nav .nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  transition: color 0.3s ease; /* Smooth transition for hover */
}

.nav .nav-links a:hover {
  color: var(--font-hover-color); /* Hover effect for main menu items */
}

/* dropdown */
.nav .nav-links .dropdown-content {
  position: absolute;
  background-color: var(--bg-color);
  top: 50%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #1e6b47;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease;
}

.nav .nav-links .dropdown-content li {
  margin: 0;
}

.nav .nav-links .dropdown-content a {
  padding: 10px 20px;
  transition: background-color 0.3s ease; /* Smooth transition for hover */
}

.nav .nav-links .dropdown-content a:hover {
  background-color: var(--hover-color); /* Hover effect for submenu items */
}

.nav .nav-links .dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  visibility: visible;
  top: 95%;
}

.nav .nav-links .arrow-down {
  margin-left: 5px;
}

/* beranda */
.main {
  padding-top: 70px; /* Adjust to height of the navbar */
}

.carousel {
  position: relative;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.carousel-item {
  display: none;
  text-align: center;
  padding: 50px;
  background-size: cover;
  background-position: center;
  color: black;
  background-size: contain;
  animation: fade 1s ease-in-out; /* Add animation */
}

.carousel-item.active {
  display: block;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

/* profil ponpes */
#profil {
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.profil-content {
  display: flex;
  flex-direction: row;
}
.profil-content p {
  padding-left: 20px;
  padding-top: 100px;
}

.img-profil {
  width: 300px;
}

/* footer */

.footer {
  background-color: var(--bg-color);
  color: white;
  text-align: center;
  padding: 20px;
  bottom: 0;
}

.div-footer {
  display: flex;
  flex-direction: row;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
}
.left-foot {
  display: flex;
  flex-direction: row;
}

.img-foot {
  width: 150px;
}

.svg-footer {
  width: 20px;
  height: auto;
  padding-right: 10px;
}
.svg-email {
  width: 20px;
  height: auto;
}

.a-foot {
  display: flex;
  text-decoration: none;
  color: white;
  text-align: left;
  margin-top: 0px;
  height: 30px;
  margin: 0px 0px;
}

.a-foot:hover {
  text-decoration: underline;
}
.a-foot p {
  height: auto;
  margin: 5px 0px;
}

.a-sec2 {
  display: flex;
  color: white;
  text-decoration: none;
  margin-bottom: 0px;
}
.a-sec2:hover {
  transition: 0.5s linear;
  text-decoration: underline;
}
.h4-foot {
  padding-bottom: 0px;
  height: 10px;
  padding: 0px;
  margin-bottom: 20px;
  text-align: left;
}

.p-sec2 {
  text-align: left;
  margin: 0px;
}
